# dependencies
/node_modules
/package-lock.json

# logs
/logs
*.log

# reference files
!/For Reference 2/
/For Reference/

# environment files
.env
.env.*

# IDE files
.vscode/
.idea/

# misc
.DS_Store
*.pem
